{{- /*
DataScienceCluster configuration
Sets managementState from component configuration
*/ -}}
{{- if include "rhoai-dependencies.crdExists" (dict "crdName" "datascienceclusters.datasciencecluster.opendatahub.io" "root" $) }}
apiVersion: datasciencecluster.opendatahub.io/v2
kind: DataScienceCluster
metadata:
  name: default-dsc
  labels:
    {{- include "rhoai-dependencies.labels" . | nindent 4 }}
spec:
  components:
    aipipelines:
      {{- .Values.components.aipipelines.dsc | toYaml | nindent 6 }}
    kserve:
      {{- .Values.components.kserve.dsc | toYaml | nindent 6 }}
    kueue:
      {{- .Values.components.kueue.dsc | toYaml | nindent 6 }}
    feastoperator:
      {{- .Values.components.feastoperator.dsc | toYaml | nindent 6 }}
    modelregistry:
      {{- include "rhoai-dependencies.componentConfig" (dict "componentName" "modelregistry" "component" .Values.components.modelregistry "root" $) | nindent 6 }}
{{- end }}
