{{- /*
DataScienceCluster configuration
Sets managementState from component configuration
*/ -}}
{{- if include "rhoai-dependencies.crdExists" (dict "crdName" "datascienceclusters.datasciencecluster.opendatahub.io" "root" $) }}
apiVersion: datasciencecluster.opendatahub.io/v2
kind: DataScienceCluster
metadata:
  name: default-dsc
  labels:
    {{- include "rhoai-dependencies.labels" . | nindent 4 }}
spec:
  components:
    aipipelines:
      {{- .Values.components.aipipelines | toYaml | nindent 6 }}
    dashboard:
      {{- .Values.components.dashboard | toYaml | nindent 6 }}
    kserve:
      {{- .Values.components.kserve | toYaml | nindent 6 }}
    kueue:
      {{- .Values.components.kueue | toYaml | nindent 6 }}
    feastoperator:
      {{- .Values.components.feastoperator | toYaml | nindent 6 }}
    ray:
      {{- .Values.components.ray | toYaml | nindent 6 }}
    trainer:
      {{- .Values.components.trainer | toYaml | nindent 6 }}
    trustyai:
      {{- .Values.components.trustyai | toYaml | nindent 6 }}
{{- end }}
