{{- /*
DSCInitialization configuration
*/ -}}
{{- if include "rhoai-dependencies.crdExists" (dict "crdName" "dscinitializations.dscinitialization.opendatahub.io" "root" $) }}
{{- $operatorType := .Values.operator.type -}}
{{- $operatorConfig := index .Values.operator $operatorType -}}
apiVersion: dscinitialization.opendatahub.io/v2
kind: DSCInitialization
metadata:
  labels:
    {{- include "rhoai-dependencies.labels" . | nindent 4 }}
  name: default-dsci
spec:
  monitoring:
    managementState: "Managed"
    namespace: {{ $operatorConfig.monitoringNamespace }}
    metrics: {}
  applicationsNamespace: {{ $operatorConfig.applicationsNamespace }}
  trustedCABundle:
    managementState: "Managed"
    customCABundle: ""
{{- end }}
