{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: opendatahub-operator-controller-manager-webhook-service
  namespace: {{ include "odh-operator.namespace" . }}
spec:
  ports:
    - name: https
      port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    name: opendatahub-operator-controller-manager
{{- end }}
